.lemon {
 /*font-size: 100%;*/
 font-weight: normal;
 font-variant: normal;
 font-style:normal;
 font-family: serif;
}

.link{
 font-weight: normal;
 font-variant: normal;
 font-style:normal;
 font-family: serif;
 color:red;
}